block variables
doctype html
html.h-100(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(
      rel="shortcut icon",
      href="https://cdn.auth0.com/styleguide/components/1.0.8/media/logos/img/favicon.png"
      )
    meta(name="theme-color", content="#000000")
    meta(
      name="description",
      content="Learn how to add user authentication to Vue apps easily."
      )
    link(
      rel="stylesheet",
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
      crossorigin="anonymous"
    )
    link(
      rel="stylesheet",
      href="https://cdn.auth0.com/js/auth0-samples-theme/1.0/css/auth0-theme.min.css"
    )
    link(rel="stylesheet" href="/index.css")
    script(src="https://kit.fontawesome.com/3116610f1c.js", crossorigin="anonymous")
    title Auth0 Express Pug Sample
  body.h-100
    block layout-content

